.card
  .card-body
    .list-group.list-group-flush
      .list-group-item
        .row.align-items-center
          .col
            %h1.header-title
              Package
          
    .list-group.list-group-flush
      .list-group-item
        .row.align-items-center
          .col
            / Title
            %small Company
          .col-auto
            / Text
            %small.text-muted
              = customer&.company&.name
              
      .list-group-item
        .row.align-items-center
          .col
            / Title
            %small Username
          .col-auto
            / Link
            %a.small.text-muted
              = customer&.username
      
      .list-group-item
        .row.align-items-center
          .col
            / Title
            %small Passsword
          .col-auto
            / Link
            %a.small.text-muted
              = customer&.password_text
      
      .list-group-item
        .row.align-items-center
          .col
            / Title
            %small Purchase Package Name
          .col-auto
            / Link
            %a.small.text-muted
              = customer&.purchase_package&.package_name
      
      .list-group-item
        .row.align-items-center
          .col
            / Title
            %small Purchase Package Price
          .col-auto
            / Link
            %a.small.text-muted
              = customer&.purchase_package&.purchase_price
                              
      .list-group-item
        .row.align-items-center
          .col
            / Title
            %small Selling Package Name
          .col-auto
            / Link
            %a.small.text-muted
              = customer&.package&.name        
      / / .row
      .list-group-item
        .row.align-items-center
          .col
            / Title
            %small Selling Package Price
          .col-auto
            / Link
            %a.small.text-muted
              = customer&.package&.price
      
      .list-group-item
        .row.align-items-center
          .col
            / Title
            %small Selling Dicounted Price
          .col-auto
            / Text
            %small.text-muted
              = customer&.package_discounted_price || 0        