.card
  .card-body
    .list-group.list-group-flush
      .list-group-item
        .row.align-items-center
          .col
            %h1.header-title
              Package
          
    .list-group.list-group-flush
      .list-group-item
        .row.align-items-center
          .col
            / Title
            %small Company
          .col-auto
            / Text
            %small.text-muted
              = customer&.customer_package&.package&.company_package&.company&.name
              
      .list-group-item
        .row.align-items-center
          .col
            / Title
            %small Username
          .col-auto
            / Link
            %a.small.text-muted
              = customer&.customer_package&.username
      
      .list-group-item
        .row.align-items-center
          .col
            / Title
            %small Passsword
          .col-auto
            / Link
            %a.small.text-muted
              = customer&.customer_package&.password
      
      .list-group-item
        .row.align-items-center
          .col
            / Title
            %small Company Package Name
          .col-auto
            / Link
            %a.small.text-muted
              = customer&.customer_package&.package&.company_package&.name
      
      .list-group-item
        .row.align-items-center
          .col
            / Title
            %small Company Package Price
          .col-auto
            / Link
            %a.small.text-muted
              = customer&.customer_package&.package&.company_package&.price
                              
      .list-group-item
        .row.align-items-center
          .col
            / Title
            %small Customer Package Name
          .col-auto
            / Link
            %a.small.text-muted
              = customer&.customer_package&.package&.name        
      / / .row
      .list-group-item
        .row.align-items-center
          .col
            / Title
            %small Customer Package Price
          .col-auto
            / Link
            %a.small.text-muted
              = customer&.customer_area&.city&.name
      
      .list-group-item
        .row.align-items-center
          .col
            / Title
            %small Subscription Status
          .col-auto
            / Link
            %a.small.text-muted
              - if customer&.customer_subscription&.status
                .text-success Subscribed        
              