.card.card-fill
  .card-body
    .list-group.list-group-flush
      .list-group-item
        .row.align-items-center
          .col
            %h1.header-title
              Package
    / Features
    .mb-3
      %ul.list-group.list-group-flush
        %li.list-group-item.d-flex.align-items-center.justify-content-between.px-0
          %small Package Name
          %small.fw-bold.text-uppercase= customer&.customer_package&.package&.name
        %li.list-group-item.d-flex.align-items-center.justify-content-between.px-0
          %small Package Price
          %small.fw-bold.text-uppercase= customer&.customer_package&.package&.price
        %li.list-group-item.d-flex.align-items-center.justify-content-between.px-0
          %small Company
          %small= customer&.customer_package&.package&.company_package&.company&.name
        %li.list-group-item.d-flex.align-items-center.justify-content-between.px-0
          %small Company Package Name
          %small= customer&.customer_package&.package&.company_package&.name
        %li.list-group-item.d-flex.align-items-center.justify-content-between.px-0
          %small Company Package Price
          %small= customer&.customer_package&.package&.company_package&.price
        %li.list-group-item.d-flex.align-items-center.justify-content-between.px-0
          %small Expiry Date
          %small= customer&.customer_package&.expiry&.strftime("%d-%B- %Y")    
        %li.list-group-item.d-flex.align-items-center.justify-content-between.px-0
          %small Username
          %small= customer&.customer_package&.username
        %li.list-group-item.d-flex.align-items-center.justify-content-between.px-0
          %small Passsword
          %small= customer&.customer_package&.password