- if customer.service
  = form_with(model: customer) do |form|
    - if customer.errors.any?
      #error_explanation  
        - customer.errors.full_messages.each do |message|
          .col
            .alert.alert-danger.text-white
              = message
    .card
      .card-header
        %h1.header-title
          Package
      .card-body 
        = form.fields_for :customer_package do |customer_package|     
          .row
            .col-12
              .form-group
                = customer_package.label "Company"
                = customer_package.collection_select :company_id, Company.all, :id, :name, {prompt: true}, class: "form-control", id: "company"
          .row
            .col-6   
              .form-group
                = customer_package.label "Username"
                = customer_package.text_field :username, class: "form-control", placeholder: "Enter Username"
                %span.text-danger#username_error
            .col-6   
              .form-group
                = customer_package.label "Password"
                = customer_package.text_field :password, class: "form-control", placeholder: "Enter Password"
          .row
            .col-12
              .form-group
                = customer_package.label "Company Packages"
                = customer_package.collection_select :company_package_id, CompanyPackage.all, :id, :name, {prompt: true}, class: "pakage_selection form-control", required: true
                
          .row
            .col-12                
              .form-group
                = customer_package.label "Select Package"
                = customer_package.collection_select :package_id, Package.all, :id, :name, {prompt: true}, class: "form-control customer_package_selection", required: true
        
        
      .card-footer
        .actions
          = form.submit "Submit Package", class: "btn btn-primary", id: "submit_button"
- else
  .row
    .col-12
      / Card
      .card.card-inactive
        .card-body.text-center
          / Image
          %img.img-fluid{:alt => "...", :src => "/img/scale.svg", :style => "max-width: 182px;"}/
          / Title
          %h1
            Empty Service.
          / Subtitle
          %p.text-muted
            Please select service from the upper menu.                     