.card.card-fill
  .card-body
    / Title
    %h6.text-uppercase.text-center.text-muted.my-4
      = customer&.customer_package&.package&.name
    / Price
    .row.g-0.align-items-center.justify-content-center
      .col-auto
        .display-2.mb-0= customer&.customer_package&.package&.price
    / / .row
    / Period
    .h6.text-uppercase.text-center.text-muted.mb-5
      \/ month
    / Features
    .mb-3
      %ul.list-group.list-group-flush
        %li.list-group-item.d-flex.align-items-center.justify-content-between.px-0
          %small Company
          %small= customer&.customer_package&.package&.company_package&.company&.name
        %li.list-group-item.d-flex.align-items-center.justify-content-between.px-0
          %small Company Package Name
          %small= customer&.customer_package&.package&.company_package&.name
        %li.list-group-item.d-flex.align-items-center.justify-content-between.px-0
          %small Company Package Price
          %small= customer&.customer_package&.package&.company_package&.price
        %li.list-group-item.d-flex.align-items-center.justify-content-between.px-0
          %small Expiry Date
          %small= customer&.customer_package&.expiry.strftime("%d-%B- %Y")    
        %li.list-group-item.d-flex.align-items-center.justify-content-between.px-0
          %small Username
          %small= customer&.customer_package&.username
        %li.list-group-item.d-flex.align-items-center.justify-content-between.px-0
          %small Passsword
          %small= customer&.customer_package&.password