.container-fluid
  .row.justify-content-center
    .col-12
      / Header
      .header
        .header-body
          .row.align-items-center
            .col
              / Pretitle
              %h6.header-pretitle
                Overview
              / Title
              %h1.header-title
                Customers
            .col-auto
              / Button
              = link_to 'New Customer', new_customer_path, class: "btn btn-outline-primary lift"    
          
      / Card
      .card{"data-list" => "{\"valueNames\": [\"orders-order\", \"orders-product\", \"orders-date\", \"orders-total\", \"orders-status\", \"orders-method\"]}"}
        .card-header
          / Search
          = render "search", q: @q
          

        .table-responsive
          %table.table.table-sm.card-table
            - if @customers.any?
              %thead
                %tr
                  %th #
                  %th Old Ref No
                  %th Name
                  %th Username
                  %th Mobile No
                  %th Area
                  %th Sub Area
                  %th Comapny
                  %th Package
                  %th Service
                  %th Staff
                  %th Action
              %tbody.list
                - @customers.each.with_index(1) do |customer, index|
                  %tr
                    %td= index
                    %td= customer&.old_ref_no
                    %td= customer&.name
                    %td= customer&.username
                    %td= customer&.mobile_primary
                    %td= customer&.area&.name
                    %td= customer&.sub_area&.name
                    %td= customer&.company&.name
                    %td= customer&.package&.name
                    %td= get_service(customer)
                    %td= customer&.staff&.full_name
                    %td.text-right
                      = link_to '<i class="fa fa-eye" title="View"></i>'.html_safe, customer_path(customer), class: "btn btn-outline-success btn-sm"
                      = link_to '<i class="fa fa-edit" title="Edit"></i>'.html_safe, edit_customer_path(customer), class: "btn btn-outline-info btn-sm"
            - else
              = render 'shared/no_data'
  .row        
    = paginate @customers     
