.container-fluid
  .row.justify-content-center
    .col-12
      / Header
      .header
        .header-body
          .row.align-items-center
            .col
              / Pretitle
              %h6.header-pretitle
                Overview
              / Title
              %h1.header-title
                Customers
              %ul.nav.nav-tabs.nav-overflow.header-tabs
                %li.nav-item
                  = link_to 'All Customers', "#{customers_path}?filter=a", class: "nav-link text-nowrap #{'active' if (params['filter'] == 'a')}" 
                %li.nav-item
                  = link_to 'New Customers', "#{customers_path}?filter=nc", class: "nav-link text-nowrap #{'active' if (params['filter'] == 'nc')}"
                %li.nav-item
                  = link_to 'Subscribed', "#{customers_path}?filter=sc", class: "nav-link text-nowrap #{'active' if (params['filter'] == 'sc')}"  
                %li.nav-item
                  = link_to 'Expired', "#{customers_path}?filter=exc", class: "nav-link text-nowrap #{'active' if (params['filter'] == 'exc')}"
                %li.nav-item
                  = link_to 'Deactivated', "#{customers_path}?filter=d", class: "nav-link text-nowrap #{'active' if (params['filter'] == 'd')}"
            .col-auto
              / Button
              = link_to 'New Customer', new_customer_path, class: "btn btn-outline-primary lift"    
        
      / Card
      .card{"data-list" => "{\"valueNames\": [\"orders-order\", \"orders-product\", \"orders-date\", \"orders-total\", \"orders-status\", \"orders-method\"]}"}
        .card-header
          / Search
          = render "search", q: @q
          

        .table-responsive
          %table.table.table-sm.card-table
            - if @customers.any?
              %thead
                %tr
                  %th= sort_link(@q, :id, "#", default_order: :asc)
                  %th= sort_link(@q, :old_ref_no, "Old Ref No", default_order: :asc)
                  %th= sort_link(@q, :name, "Name", default_order: :asc)
                  %th= sort_link(@q, :username, "Username", default_order: :asc)
                  %th= sort_link(@q, :mobile_primary, "Mobile Primary", default_order: :asc)
                  %th= sort_link(@q, :area.name, "Area", default_order: :asc)
                  %th= sort_link(@q, :sub_area.name, "Sub Area", default_order: :asc)
                  %th= sort_link(@q, :company.name, "Company", default_order: :asc)
                  %th= sort_link(@q, :package.name, "Package", default_order: :asc)
                  %th Service
                  %th= sort_link(@q, :staff.name, "Staff", default_order: :asc)
                  %th Action
              %tbody.list
                - @customers.each.with_index(1) do |customer, index|
                  %tr{class: "#{get_subscription_bg(customer)}"}
                    %td= index
                    %td= customer&.old_ref_no
                    %td= customer&.name
                    %td= customer&.username
                    %td= customer&.mobile_primary
                    %td= customer&.area&.name
                    %td= customer&.sub_area&.name
                    %td= customer&.company&.name
                    %td= customer&.package&.name
                    %td= get_service(customer)
                    %td= customer&.staff&.full_name
                    %td.text-right
                      = link_to '<i class="fa fa-thin fa-rocket" title="Subscription"></i>'.html_safe, customer_subscriptions_path(customer), class: "btn btn-outline-success btn-sm lift"
                      = link_to '<i class="fa fa-eye" title="View"></i>'.html_safe, customer_path(customer), class: "btn btn-outline-success btn-sm lift"
                      = link_to '<i class="fa fa-edit" title="Edit"></i>'.html_safe, edit_customer_path(customer), class: "btn btn-outline-info btn-sm lift"
                      = link_to '<i class="fa fa-cog" title="Settings"></i>'.html_safe, settings_customer_path(customer), class: "btn btn-outline-dark btn-sm lift"
            - else
              = render 'shared/no_data'
  .row        
    = paginate @customers     
