.container-fluid
  .row.justify-content-center
    .col-12
      / Header
      .header
        .header-body
          .row.align-items-center
            .col
              / Pretitle
              %h6.header-pretitle
                Overview
              / Title
              %h1.header-title
                Companies
            .col-auto
              / Button
              = link_to 'New Company', new_company_path, class: "btn btn-outline-primary lift"        
          
      .card{"data-list" => "{\"valueNames\": [\"orders-order\", \"orders-product\", \"orders-date\", \"orders-total\", \"orders-status\", \"orders-method\"]}"}
        .card-header
          / Search
          = render "search", q: @q
          
          
        .table-responsive
          %table.table.table-sm.table-nowrap.card-table
            - if @companies.any?
              %thead
                %tr
                  %th #
                  %th= sort_link(@q, :name, "Name", default_order: :asc)
                  %th Qty Customers
                  %th Action
              %tbody.list
                - @companies.each.with_index(1) do |company, index|
                  %tr
                    %td= index
                    %td= company.name
                    %td= company.customers.count
                    %td.text-right
                      = link_to 'Edit', edit_company_path(company), class: "btn btn-outline-info btn-sm"
            - else
              = render 'shared/no_data'
  .row        
    = paginate @companies     
     