.container
  .row.align-items-center
    .col-12.col-md-6.offset-xl-2.offset-md-1.order-md-2.mb-5.mb-md-0
      .text-center
        %img.img-fluid{alt: "...", src: "/img/illustrations/happiness.svg"}/
    .col-12.col-md-5.col-xl-4.order-md-1.my-5
      %h1.display-4.text-center.mb-3
        Sign in
      %p.text-muted.text-center.mb-5
        Access to our dashboard.
      = render "admins/shared/error_messages", resource: resource
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group
          %label Username / Email
          = f.text_field :login, autofocus: true, autocomplete: "email", class: "form-control"
        .form-group
          .row
            .col
              %label.form-label
                Password
            .col-auto
              = link_to "Forgot Password?", '', class: "form-text small text-muted"
          .input-group.input-group-merge
            = f.password_field :password, autocomplete: "current-password", class: "form-control form-control-appended"
            .input-group-append
              %span.input-group-text
                %i.fe.fe-eye
        = button_tag(type: 'submit', class: "btn btn-lg w-100 btn-primary mb-3") do
          Sign in
        = render "admins/shared/links"