.card.mt-5
  .card-header
    %h1.header-title
      Last 6 Month's Billing
  .table-responsive
    %table.table.table-sm.table-nowrap.card-table
      - if customer.receivings.any?
        %thead
          %tr
            %th #
            %th Staff
            %th Customer
            %th Fee Month
            %th Amount
            %th Receiving Date
            %th Book No
            %th Receipt Page No 
            %th Received Amount
            %th Remaining
        %tbody.list
          - customer.receivings.last(6).each.with_index(1) do |receiving, index|
            %tr
              %td= index
              %td= receiving.staff.full_name
              %td= receiving.customer.name
              %td= receiving.receiving_date.strftime("%B")
              %td= receiving.amount
              %td= receiving.receiving_date
              %td= receiving.receipt_book.book_number
              %td= receiving.receipt_book_page.page_no
              %td= receiving.amount_received
              %td= receiving.balance
      - else
        = render 'shared/no_data'