= form_with(model: receiving) do |form|
  - if receiving.errors.any?
    #error_explanation  
      - receiving.errors.full_messages.each do |message|
        .col
          .alert.alert-danger.text-white
            = message
  .card
    .card-body
      .row
        .col-sm-12
          .form-group
            = form.label "Customer"
            = form.collection_select :customer_id, Customer.all, :id, :name, {prompt: true, selected: params['customer_id'] }, class: "form-control", required: true

      - if params['customer_id'].present?
        .row
          .col-sm-12
            .form-group
              = form.label "Staff"
              - if customer.staff_id?
                = form.select :staff_id, [["#{customer.staff.full_name}", "#{customer.staff_id}"]], {prompt: "Select Staff",  selected: params['staff_id']}, { class: 'form-control'}
              - else
                = form.collection_select :staff_id, Staff.all, :id, :full_name, {prompt: true,  selected: params['staff_id']}, class: "form-control", required: true
        
        - if params['staff_id'].present?
          .row.mb-3
            .col-sm-6
              = form.label "Amount"
              = form.text_field :amount, class: "form-control", value: "#{customer&.customer_package&.package&.price}"
            .col-sm-6
              = form.label "Service"
              = form.text_field :service, class: "form-control", value: "#{customer&.service&.name}"
          
          .row.mb-3
            .col-sm-6
              = form.label "Receipt Books"
              = form.collection_select :receipt_book_id, staff&.receipt_books, :id, :book_number, {prompt: true, selected: params['receipt_book_id']}, class: "form-control", required: true

            - if params['receipt_book_id'].present?
              .col-sm-6
                = form.label "Receipt Book Pages"   
                = form.collection_select :receipt_book_page_id, receipt_book_pages, :id, :page_no, {prompt: true}, class: "form-control", required: true     
              
          .row.mt-3
            .col-sm-6
              = form.label "Receiving Date"
              = form.date_field :receiving_date, class: 'form-control', required: true
            .col-sm-6
              = form.label "Balance"
              = form.number_field :balance, class: 'form-control', required: true, value: "#{ 0 unless customer&.receivings&.last&.balance}"
  
  .actions
    = form.submit class: "btn btn-primary"
    
    
  - if params['customer_id'].present?
    = render 'customer_billing', customer: customer
  