= form_with(model: receiving) do |form|
  - if receiving.errors.any?
    #error_explanation  
      - receiving.errors.full_messages.each do |message|
        .col
          .alert.alert-danger.text-white
            = message
  = render "customer_search", form: form
  
  - if customer
    
    .card
      .card-body
        .row
          .col-sm-4
            .form-group
              = form.label "Customer Name"
              = form.text_field :name, class: "form-control readonly_field", readonly: true, value: "#{customer&.name}"
              = form.hidden_field :customer_id, value: customer.id
          .col-sm-4
            .form-group
              = form.label "House Number"
              = form.text_field :house_no, class: "form-control readonly_field", readonly: true, value: "#{customer&.customer_area&.house_no}"
          
          .col-sm-4
            .form-group
              = form.label "Mobile"
              = form.text_field :mobile_primary, class: "form-control readonly_field", readonly: true, value: "#{customer&.mobile_primary}"
        
        .row               
          .col-sm-6
            .form-group
              = form.label "Area"
              = form.text_field :area, class: "form-control readonly_field", readonly: true, value: "#{customer&.customer_area&.area&.name}"
              
          .col-sm-6
            .form-group
              = form.label "Address"
              = form.text_field :address, class: "form-control readonly_field", readonly: true, value: "#{customer&.customer_area&.address}"  
  
        - if customer.staff.present?
          .row
            .col-sm-6
              .form-group
                = form.label "Staff Name"
                = form.text_field :full_name, class: "form-control readonly_field", readonly: true, value: "#{customer&.staff&.full_name}"
                = form.hidden_field :staff_id, value: customer.staff.id
            .col-sm-6
              .form-group
                = form.label "Staff Official No"
                = form.text_field :official_mobile_no, class: "form-control readonly_field", readonly: true, value: "#{customer&.staff&.official_mobile_no}"
                    
        .row
          .col-sm-6
            = form.label "Billable Amount"
            = form.text_field :amount, class: "form-control readonly_field", readonly: true, value: "#{customer&.customer_package&.package&.price}"
          .col-sm-6
            = form.label "Amount Received"
            = form.number_field :amount_received, class: "form-control", placeholder: "Enter Received Amount"
                   
        .row.mt-4
          .col-sm-6
            = form.label "Balance"
            = form.text_field :balance, class: "form-control readonly_field", readonly: true, value: "#{customer&.receivings&.last&.balance}" 
            = form.hidden_field :prev_balanace, id: "prev_balance", value: "#{customer&.receivings&.last&.balance}"
          .col-sm-6
            = form.label "Service"
            = form.text_field :service, class: "form-control readonly_field", readonly: true, value: "#{customer&.service&.name}"
        
        .row.mt-4

          .col-sm-6
            = form.label "Receiving Date"
            = form.date_field :receiving_date, class: "form-control", required: true
          .col-sm-6
            = form.label "Receipt Book"
            = form.collection_select :receipt_book_id, customer&.staff&.receipt_books&.where(status: "Assigned"), :id, :book_number, {prompt: true}, class: "form-control"    
        
        
        .row.mt-4
          .col-sm-6
            = form.label "Receipt Book Pages"
            = form.collection_select :receipt_book_page_id, ReceiptBookPage.all, :id, :page_no, {prompt: true}, class: "form-control"
        
     
  
    .actions
      = form.submit class: "btn btn-primary"
      
    
  - if customer&.receivings&.present?
    = render 'customer_billing', customer: customer
  