= form_with(model: receiving) do |form|
  - if receiving.errors.any?
    #error_explanation  
      - receiving.errors.full_messages.each do |message|
        .col
          .alert.alert-danger.text-white
            = message
  -# = render "customer_search", form: form
  
  .row
    .col-sm-12
      - if customer
        / List group
        
        .row
          .col-6
            .card.custom-card
              .card-body.custom-card-body
                .list-group.list-group-flush
                  .list-group-item
                    .row.align-items-center
                      .col
                        / Title
                        %small Customer ID:
                      .col-auto
                        / Time
                        %time.small.text-muted
                          = customer&.id
              
          .col-6            
            .card.custom-card
              .card-body.custom-card-body
                .list-group.list-group-flush
                  .list-group-item
                    .row.align-items-center
                      .col
                        / Title
                        %small Customer Old ID:
                      .col-auto
                        / Time
                        %time.small.text-muted
                          = customer&.old_ref_no || 'N/A'
          
        .row
          .col-6
            .card.custom-card
              .card-body.custom-card-body         
                .list-group.list-group-flush
                  .list-group-item
                    .row.align-items-center
                      .col
                        / Title
                        %small Customer Name:
                      .col-auto
                        / Time
                        %time.small.text-muted
                          = customer&.name
              
          .col-6  
            .card.custom-card
              .card-body.custom-card-body
                .list-group.list-group-flush
                  .list-group-item
                    .row.align-items-center
                      .col
                        / Title
                        %small Area:
                      .col-auto
                        / Time
                        %time.small.text-muted
                          = customer&.area&.name
        
        .row
          .col-6
            .card.custom-card
              .card-body.custom-card-body
                .list-group.list-group-flush
                  .list-group-item
                    .row.align-items-center
                      .col
                        / Title
                        %small Sub Area:
                      .col-auto
                        / Time
                        %time.small.text-muted
                          = customer&.sub_area&.name
                
                      
          .col-6
            .card.custom-card
              .card-body.custom-card-body      
                .list-group.list-group-flush
                  .list-group-item
                    .row.align-items-center
                      .col
                        / Title
                        %small House #:
                      .col-auto
                        / Time
                        %time.small.text-muted
                          = customer&.house_no  
        
        .row
          .col-6
            .card.custom-card
              .card-body.custom-card-body      
                .list-group.list-group-flush
                  .list-group-item
                    .row.align-items-center
                      .col
                        / Title
                        %small Address:
                      .col-auto
                        / Time
                        %time.small.text-muted
                          = customer&.address
                      
          .col-6
            .card.custom-card
              .card-body.custom-card-body                           
                .list-group.list-group-flush
                  .list-group-item
                    .row.align-items-center
                      .col
                        / Title
                        %small Pon No:
                      .col-auto
                        / Time
                        %time.small.text-muted
                          = customer&.pon_no
        .row
          .col-6
            .card.custom-card
              .card-body.custom-card-body                           
                .list-group.list-group-flush
                  .list-group-item
                    .row.align-items-center
                      .col
                        / Title
                        %small Mobile:
                      .col-auto
                        / Time
                        %time.small.text-muted
                          = customer&.mobile_primary
                
                                  
          .col-6
            .card.custom-card
              .card-body.custom-card-body                           
                .list-group.list-group-flush
                  .list-group-item
                    .row.align-items-center
                      .col
                        / Title
                        %small Company:
                      .col-auto
                        / Time
                        %time.small.text-muted
                          = customer&.company&.name
                
        .row
          .col-6
            .card.custom-card
              .card-body.custom-card-body                           
                .list-group.list-group-flush
                  .list-group-item
                    .row.align-items-center
                      .col
                        / Title
                        %small Customer Package:
                      .col-auto
                        / Time
                        %time.small.text-muted
                          = customer&.package&.name                              
                    
          .col-6      
            .card.custom-card
              .card-body.custom-card-body                           
                .list-group.list-group-flush
                  .list-group-item
                    .row.align-items-center
                      .col
                        / Title
                        %small Purchase Package:
                      .col-auto
                        / Time
                        %time.small.text-muted
                          = customer&.purchase_package&.package_name
                
        .row
          .col-6
            .card.custom-card
              .card-body.custom-card-body                           
                .list-group.list-group-flush
                  .list-group-item
                    .row.align-items-center
                      .col
                        / Title
                        %small Username:
                      .col-auto
                        / Time
                        %time.small.text-muted
                          = customer&.username        
          .col-6      
            .card.custom-card
              .card-body.custom-card-body
                - if @customer&.service&.name == 'Internet'
                  .list-group.list-group-flush
                    .list-group-item
                      .row.align-items-center
                        .col
                          / Title
                          %small Customer Type:
                        .col-auto
                          / Time
                          %time.small.text-muted
                            = customer&.internet_type&.name                      
            
        .row
          .col-6
            .card.custom-card
              .card-body.custom-card-body                           
                .list-group.list-group-flush
                  .list-group-item
                    .row.align-items-center
                      .col
                        / Title
                        %small Billing Cycle:
                      .col-auto
                        / Time
                        %time.small.text-muted
                          = "( #{customer&.receivings&.where(status: false).count} / #{customer&.receivings&.where(status: true).count} )"        
          .col-6
            .card.custom-card
              .card-body.custom-card-body.bg-success-soft                           
                .list-group.list-group-flush
                  .list-group-item
                    .row.align-items-center
                      .col.text-center
                        .display-3
                          = customer.get_package_price
                        
                                              
  .row.mt-5                    
    .col-sm-12        
      .card
        .card-header
          .h2.mt-4
            Receivng 
        .card-body
          .row    
            .col-sm-12
              .form-group
                = form.label "Date"
                = form.date_field :receiving_date, class: "form-control"
          .row  
            .col-sm-6
              .form-group
                = form.label "Receipt Book"
                = form.collection_select :receipt_book_id, customer&.staff&.receipt_books&.where(status: "Assigned"), :id, :book_number, {prompt: true}, class: "form-control"
          
            .col-sm-6
              .form-group
                = form.label "Receipt Book Pages"
                = form.collection_select :receipt_book_page_id, ReceiptBookPage.all, :id, :page_no, {prompt: true}, class: "form-control"
          
          .row
            .col-sm-6
              .form-group
                = form.label "Amount Received"
                = form.number_field :amount_received, class: "form-control", placeholder: "Enter Received Amount"
                = form.hidden_field :amount, value: customer.get_package_price
            .col-sm-6
              .form-group
                = form.label "Discount"
                = form.number_field :discount, class: "form-control", placeholder: "Enter Discounted Amount"
          .row
            .col-sm-6
              .form-group
                = form.label "Staff Name"
                = form.text_field :full_name, class: "form-control readonly_field", readonly: true, value: "#{customer&.staff&.full_name if customer&.staff&.present?}"
                = form.hidden_field :staff_id, value: customer&.staff&.id           
                = form.hidden_field :customer_id, value: customer&.id           
            .col-sm-6
              .form-group
                = form.label "Remaining Due"
                = form.text_field :balance, class: "form-control readonly_field", readonly: true, value: "" 
                = form.hidden_field :status, value: true
        .card-footer  
          .actions
            = form.submit class: "btn btn-primary"
      
    
      - if customer&.receivings&.present?
        = render 'customer_billing', customer: customer
  