= form_with(model: area) do |form|
  - if area.errors.any?
    #error_explanation  
      - area.errors.full_messages.each do |message|
        .col
          .alert.alert-danger.text-white
            = message
  .form-group
    = form.label "City"
    = form.collection_select :city_id, City.all, :id, :name, {prompt: true}, class: "form-control", required: true
  .form-group
    = form.label :name
    = form.text_field :name, class: "form-control"
  .actions
    = form.submit class: "btn btn-primary"