
.header
  .container-fluid
    .header-body
      .row.align-items-end
        .col
          %h1.header-title
            Areas
        .col-auto
          = link_to 'New Area', new_area_path, class: "btn btn-outline-primary"  
.container-fluid
  .row
    .col
      .card
        .card-body
          = render "search", q: @q
  .row.justify-content-md-center
    .col-12
      .card
        .card-body
          %table.table.table-sm
            - if @areas.any?  
              %thead
                %tr
                  %th{scope: "col"} #
                  %th{scope: "col"} Country
                  %th{scope: "col"} City
                  %th{scope: "col"} Name
                  %th{scope: "col"} Action
              %tbody
                - @areas.each.with_index(1) do |area, index|
                  %tr
                    %td= index
                    %td= area.city.country.name
                    %td= area.city.name
                    %td= area.name
                    %td.text-right
                      = link_to 'Edit', edit_area_path(area), class: "btn btn-outline-info btn-sm"
            - else
              = render 'shared/no_data'

    = paginate @areas              
