= form_with(model: payment) do |form|
  - if payment.errors.any?
    #error_explanation  
      - payment.errors.full_messages.each do |message|
        .col
          .alert.alert-danger.text-white
            = message
  .row
    .col-sm-6
      .form-group
        = form.label "Staff"
        = form.collection_select :staff_id, Staff.all, :id, :full_name, {prompt: true}, class: "form-control", required: true
    .col-sm-6
      .form-group
        = form.label "Purpose"
        = form.select :purpose, [["Salary", "salary"], ["Advance", "advance"], ["Loan", "loan"], ["Bonus", "bonus"],["Advance Return", "advance_return"], ["Loan Return", "loan_return"], ["Recovery", "recovery"]], {prompt: "Select Mode"}, { class: 'form-control'}
    
  .row
    .col-sm-6 
      .form-group
        = form.label "Payment Mode"
        = form.select :payment_mode, [["Cash", "Cash"], ["Bank Transfer", "Bank Transfer"]], {prompt: "Select Mode"}, { class: 'form-control'}
    .col-sm-6
      .form-group
        = form.label "Date"
        = form.date_field :date, class: "form-control"
  .row
    
    .col-sm-6
      .form-group
        = form.label :amount
        = form.number_field :amount, class: "form-control"
    .col-sm-6
      .form-group
        = form.label "Reason"
        = form.text_area :reason, class: "form-control", rows: 2            
  .row
    .col-sm-6
      
  .actions
    = form.submit class: "btn btn-primary"