<!DOCTYPE html>
<html>
  <head>
    <title>AsifSkynet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= current_admin && controller_name != 'home' ? '' : 'd-flex align-items-center bg-auth border-top border-top-2 border-primary' %>">
    <%= render "shared/flash_messages" %>
    
    <% if current_admin && controller_name != 'home' %>
    <%= render "shared/sidebar" %>
    <div class="main-content">
      <%= render "shared/header" %>
      <%= yield %>
    </div>
    <% else %>
    <%= yield %>
    <% end %>
  </body>
</html>
